/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Cormorant Garamond', serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:visited, .news article.story a, .news article.story a:visited {
  color: #222222;
  text-decoration: none; 
  border-bottom: none; }
a:hover, a:active, .news article.story a:hover, .news article.story a:active {
  color: #222222;
  text-decoration: none;
  border-bottom: none; }
.link a, .link a:visited, .news article a, .news article a:visited, .info a, .info a:visited, .notices a, .notices a:visited, ul.results a, ul.results a:visited {
  color: #008ED5;
  border-bottom: 1px solid #008ED5; }
.link a:hover, .link a:active, .news article a:hover, .news article a:active, .info a:hover, .info a:active, .notices a:hover, .notices a:active, ul.results a:hover, ul.results a:active {
  color: #003855;
  border-bottom: 1px solid #003855; }
article a.more, article a.more:visited, article a.more:hover, article a.more:active, .news article a.more, .news article a.more:visited, .news article a.more:hover, .news article a.more:active{
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: none;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
  background: #CCCCCC;
  padding: 1rem 2rem;
  margin: 0;
  border-radius: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box; 
  transition: background 0.2s ease-in-out; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #FFFFFF;
  background: #222222;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAAAAA;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  opacity: 1 !important;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

::-webkit-input-placeholder {
   color: #AAAAAA;
}

:-moz-placeholder {
   color: #AAAAAA;
}

::-moz-placeholder {
   color: #AAAAAA;
}

:-ms-input-placeholder {  
   color: #AAAAAA;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
ol {
  list-style: none; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

.item, #organization, div#organization.item{
  display: none;
  height: 0;
}

.row.logo{
  padding: 0;
}

.row.logo h1 a{
  display: inline-block;
}

#header h1{
  text-align: center;
  margin: 0;
}

#header svg{
  width: 12rem;
  height: 6rem;
}

.row.nav{
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

nav{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

nav ul{
  margin: 0 2rem;
  text-align: center;
}

#footer nav li:first-child{
  vertical-align: middle;
}

nav li{
  margin: 0 0.4rem;
  display: inline-block;
}

.home nav li:first-child a{
  color: #AAAAAA;
}

.community-notice-board nav li:nth-child(2) a{
  color: #AAAAAA;
}

.contribute nav li:nth-child(3) a{
  color: #AAAAAA;
}

.advertise nav li:nth-child(4) a{
  color: #AAAAAA;
}

.archive nav li:nth-child(5) a{
  color: #AAAAAA;
}

/* Search */

.searchForm{
  text-align: center;
  margin: 2rem 0 0 0;
}

.searchForm input[type="search"]{
  width: auto;
  margin: 0 1rem 0 0;
}

.search ul.results{
  font-size: 2rem;
  margin-bottom: 8rem;
}

/* Page */ 

#content{
  margin: 0 2rem;
}

.intro{
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  font-size: 2.6rem;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

h2 p{
  margin-bottom: 0;
}

h3{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

.story{
  margin-bottom: 10rem;
}

.news article.story:first-child{
  margin: 8rem 0 10rem 0;
}

.home article.story:last-child, .news article.story:last-child{
  margin: 8rem 0 0 0;
}

.news article.story{
  margin: 0 0 10rem 0;
}

.newsSnip{
  position: relative;
  margin: 0;
  padding: 0;
}

.newsSnip p.meta{
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.newsSnip p{
  margin-bottom: 5rem;
}

.newsSnip p, .news article p, .info p, .cont p, .line p{
  font-size: 2rem;
}

.more{
  display: inline-block;
  position: relative;
  padding: 1rem 4rem 1.2rem 2rem;
  background: #222222;
  transition: background 0.2s ease-in-out;
}

.more:hover{
  background: #888888;
}

.more:after{
  position: absolute;
  content: '→';
  right: 2rem;
  top: 1.2rem;
}

.info{
  margin-bottom: 4rem;
}

.newsHeadline{
  padding-top: 4rem;
}

.news article{
  margin: 8rem 0;
}

.news article img{
  width: 100%;
}

.prev{
  text-align: left;
  width: 33%;
  margin-bottom: 0;
}

.next{
  text-align: right;
  width: 33%;
  margin-bottom: 0;
}

/* Community Notices */

.line{
  border-top: 1px solid #222222;
  padding: 2rem 0 1rem;
}

.row.notices:last-child{
  margin-bottom: 8rem;
}

/* Contribute */

.cont{
  margin-bottom: 8rem;
}

form{
  letter-spacing: 0.04rem;
}

.instructions p{
  font-size: 1.4rem;
  margin: 0;
  font-style: italic;
  color: #AAAAAA;
}

p.notification.success-message{
  color: #008ED5;
}

/* Advertise */

.adv{
  margin-bottom: 8rem;
}

/* Archive */

ul.archiveCols{
  padding: 0;
  margin-bottom: 8rem;
}

ul.archiveCols li{
  vertical-align: top;
  width: 100%;
  display: inline-block;
  margin-bottom: 2rem;
}

/* News navigation */

.newsPaginate{
  font-size: 1.6rem;
}

.paginate{
  text-align: center;
  color: #DDDDDD;
  width: 33%;
}

#disqus_thread{
  margin-bottom: 6rem;
}

/* 404 */

.row.fourOhFour{
  margin-top: 8rem;
  margin-bottom: 10rem;
}

/* Footer */

#footer{
  border-top: 1px solid #DDDDDD;
  margin: 0 0 6rem;
  padding: 2rem 0;
}

#footer .ten{
  padding: 0 2rem;
}

.footNote{
  font-size: 1.2rem;
  margin-top: 4rem;
  text-align: center;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .row.logo{
    padding: 2rem 0;
  }
  .searchForm{
    margin: 1rem 0 0 0;
  }
  .row.nav{
    padding: 1rem 0;
  }
  .intro{
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .home article.story:last-child, .news article.story:last-child{
    margin-bottom: 4rem;
  }
  .paginate{
    padding-bottom: 4rem;
  }
  .prev{
    padding-bottom: 4rem;
  }
  .next{
    padding-bottom: 4rem;
  }
}

/* Larger than tablet */
@media (min-width: 815px) {
  #header h1{
    text-align: left;
  }
  .row.logo{
    padding: 2.2rem 0 1rem;
  }
  .row.logo h1 a{
    display: inherit;
  }
  .row.nav{
    padding: 0;
  }
  nav ul{
    margin: 0.4rem 0;
    text-align: left;
  }
  nav li:first-child{
    margin-left: 0;
  }
  nav li{
    margin: 0 1rem;
  }
  .searchForm{
    text-align: right;
    margin: 0.8rem 0;
  }
  #content{
    margin: 0;
  }
  .intro{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  h2{
    font-size: 4rem;
    margin: inherit;
    margin-left: 0;
  }
  h2 p{
    margin-bottom: inherit;
  }
  h3{
    font-size: 5rem;
  }
  .home article.story:last-child, .news article.story:last-child{
    margin: 8rem 0 10rem 0;
  }
  .newsSnip{
    position: relative;
    margin: -10rem 4rem 0 4rem;
    padding: 2rem 3rem;
    background: #ffffff;
  }
  /* Archive */
  ul.archiveCols li{
    width: 33%;
  }
  .newsPaginate{
    font-size: 2.8rem;
  }
  .paginate{
    width: inherit;
  }
  .prev{
    text-align: left;
    width: inherit;
    margin-bottom: 8rem;
  }
  .next{
    text-align: right;
    width: inherit;
    margin-bottom: 8rem;
  }
  /* Footer */
  #footer .ten{
    padding: 0;
  }
  .footNote{
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: left;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
