{% extends "_article-layout" %}
{% set title = "News" %}

{% block content %}
	<div class="row">
		<div class="one columns">&nbsp;</div>
		<div class="ten columns">
			<article itemscope itemtype="https://schema.org/Article">
				{% if entry.mainNewsImage | length %}
				    {% for asset in entry.mainNewsImage %}
				    	<span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				        	<img src="{{ asset.getUrl('newsImage') }}" itemprop="url" width="100%" title="{{ entry.mainNewsImageTitle }}" alt="{{ entry.mainNewsImageTitle }}">
				        	<meta itemprop="width" content="1100">
				        	<meta itemprop="height" content="590">
				        </span>
				    {% endfor %}
				{% endif %}
				<h1 itemprop="headline" class="newsHeadline">{{ entry.title }}</h1>
				<p>Published <span itemprop="datePublished dateModified"><b>{{ entry.postDate.format('F d, Y') }}</b></span><span class="item" itemprop="author">{{ siteName }}</span></p>
				{{ entry.newsParagraph }}
				<meta class="item" itemprop="mainEntityOfPage" content="{{ entry.url }}"/>
				<div itemprop="publisher" class="item" itemscope itemtype="https://schema.org/Organization">
				    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						<meta itemprop="url" content="http://128.199.216.146/uploads/tom.jpg">
						<meta itemprop="width" content="300">
						<meta itemprop="height" content="300">
				    </div>
				    <meta itemprop="name" content="TOM">
				</div>
			</article>
		</div>
		<div class="one columns">&nbsp;</div>
	</div>

	<div class="row">
		<div class="one columns">&nbsp;</div>
		<div id="disqus_thread" class="ten columns"></div>
			<div id="disqus_thread"></div>
				<script>
					var disqus_config = function () {
					this.page.url = '{{ entry.url|raw }}';
					this.page.identifier = '{{ entry.slug|raw }}';
					};

					(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://thetomnz.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<div class="one columns">&nbsp;</div>
	</div>

	<div class="row newsPaginate">
		<div class="one columns">&nbsp;</div>
		<div class="three columns prev">
		{# Set parameters for prev/next elements list #}
		{% set params = craft.entries.section('news').order('postDate desc, id asc') %}

			{% set prevEntry = entry.getPrev(params) %}
			{% set nextEntry = entry.getNext(params) %}
			&nbsp;
			{% if prevEntry %}<a href="{{ prevEntry.url }}" rel="prev">Previous</a>{% endif %}
		</div>
		<div class="four columns paginate">
			<a href="/">TOM</a>
		</div>
		<div class="three columns next">
			{% if nextEntry %}<a href="{{ nextEntry.url }}" rel="next">Next</a>{% endif %}
			&nbsp;
		</div>
		<div class="one columns">&nbsp;</div>
	</div>

{% endblock %}
