{% extends "_layout" %}
{% set title = "Contribute" %}

{% block content %}
<div class="row">
	<div class="one columns">&nbsp;</div>
	<div class="five intro columns">
		<h2>{{ entry.body }}</h2>
	</div>
	<div class="six columns">&nbsp;</div>
</div>
<div class="row cont">
	<div class="one columns">&nbsp;</div>
	<div class="five columns">
		{% set form = craft.formBuilder2.getFormByHandle('contribute') %}
		{% set formSettings = form.formSettings %}
		{% set spamProtectionSettings = form.spamProtectionSettings %}
		{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
		{% set scripts = craft.formBuilder2.includeScripts(form) %}

		{# Errors/Success Messages #}
	  <div class="notifications">
	    <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}</p>
	    <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
	    {% set errors = (errors is defined ? errors : null) %}
	    {% if errors %}
	    <ul class="errors">
	      {% for error in errors %}
	        <li>{{ error }}</li>
	      {% endfor %}
	    </ul>
	    {% endif %}
	  </div>

		<form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2" id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
		  <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
		  <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">
		  <input type="hidden" name="formHandle" value="{{ form.handle }}">
		  {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod" value="{{ 'now'|date('U') }}">{% endif %}
		  {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
		  {{ getCsrfInput() }}

		  {# Fields #}
		  {% for tab in tabs %}
		    {% set fields = tab.getFields() %}
		    <fieldset class="{{ tab.name | camelCase(tab.name) }}">
		      {% for field in fields %}
		        {% set input = craft.formBuilder2.getInputHtml(field) %}
		        {{ input |raw }}
		      {% endfor %}
		    </fieldset>
		  {% endfor %}

		  <button type="submit">{% if formSettings.submitButtonText %}{{ formSettings.submitButtonText }}{% else %}Submit Message{% endif %}</button>
		</form>
	</div>
	<div class="five link columns">
		{{ entry.pageIntroduction }}
	</div>
	<div class="one columns">&nbsp;</div>
</div>
{% endblock %}
