<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" href="/uploads/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" href="/uploads/apple-touch-icon-precomposed.png">

	<meta name="description" content="{{ entry.seoDescription }}"/>
	<meta name="keywords" content="{{ seo.seoKeywords }}"/>

	<link rel="alternate" type="application/rss+xml" title="RSS Feed for TOM News" href="/rss" />

	<meta property="og:title" content="TOM"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://thetom.co.nz"/>
	<meta property="og:description" content="{{ entry.seoDescription }}"/>
	<meta property="og:image" content="{{ siteUrl }}uploads/social.jpg"/>
	<meta property="og:image:width" content="1200" />
  	<meta property="og:image:height" content="630" />
	<meta property="fb:admins" content="100000631874421"/>
	<meta property="fb:app_id" content="184192951747890"/>
	<meta property="og:site_name" content="TOM"/>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {% includeCssFile "/css/site.min.css?v=2.0" %}
	{% includeJsFile "/js/main.min.js?v=2.0" %}

    {% if pageInfo.prevUrl %}<link rel="prev" href="{{ pageInfo.prevUrl }}">{% endif %}
    {% if pageInfo.nextUrl %}<link rel="next" href="{{ pageInfo.nextUrl }}">{% endif %}

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700" rel="stylesheet">
</head>

<body class="{{ craft.request.getSegment(1) ?: 'home' }}">
	<div id="container">
		<header id="header">
			<div class="row logo">
				<div class="one columns">&nbsp;</div>
				<div class="four columns">
					<h1>
						<a href="{{ siteUrl }}">
							<svg width="317px" height="140px" viewBox="238 492 317 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <g id="TOM" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(240.000000, 492.000000)">
							        <g id="g10" transform="translate(157.500000, 69.520000) scale(-1, 1) rotate(-180.000000) translate(-157.500000, -69.520000) translate(0.000000, 0.520000)" fill-rule="nonzero" fill="#000000">
							            <g id="g12">
							                <g id="g14-Clipped">
							                    <g id="g14" transform="translate(-0.000006, -0.000012)">
							                        <g id="g20" transform="translate(118.458397, 1.151600)">
							                            <path d="M14.6666663,135.999997 C9.70666642,135.999997 5.54133319,135.266663 0.207999995,133.89333 L0.207999995,128.638663 C4.20799989,130.559997 9.14666644,131.546663 14.6666663,131.546663 C41.4266656,131.546663 48.3746655,108.466664 48.3746655,68.3319983 C48.3746655,28.398666 41.3466656,5.13199987 14.585333,5.13199987 C9.06533311,5.13199987 4.20799989,6.11866651 0.207999995,8.05333313 L0.207999995,2.7986666 C5.54133319,1.41199996 9.69466642,0.665333317 14.6666663,0.665333317 C48.0133321,0.665333317 70.3066649,34.2133325 70.3066649,68.518665 C70.3066649,102.839997 48.0133321,135.999997 14.6666663,135.999997" id="path22"></path>
							                        </g>
							                        <polygon id="path24" points="175.286662 2.11599995 211.387995 2.11599995 211.387995 6.72533317 175.286662 6.72533317"></polygon>
							                        <g id="g26" transform="translate(174.216129, 0.812400)">
							                            <polygon id="path28" points="123.999997 130.666663 123.999997 5.91733319 139.24533 5.91733319 139.24533 1.30399997 89.1013311 1.30399997 89.1013311 5.91733319 104.543997 5.91733319 104.543997 128.263997 104.145331 128.263997 65.2679984 1.30399997 60.0519985 1.30399997 21.8066661 130.702663 1.08266664 130.702663 1.08266664 135.283997 41.199999 135.283997 69.4786649 36.5999991 69.8493316 36.5999991 99.3279975 135.283997 139.24533 135.283997 139.24533 130.666663"></polygon>
							                        </g>
							                        <g id="g30" transform="translate(1.099600, 2.102800)">
							                            <path d="M27.9999993,0 L27.9999993,4.61733322 L44.6399989,4.61733322 L44.6399989,129.36933 L31.0039992,129.36933 C11.9506664,129.36933 9.94666642,115.130664 6.13199985,95.277331 L0.922666644,95.277331 L3.12533326,133.98133 L106.418664,133.98133 L107.822664,95.277331 L102.605331,95.277331 C100.397331,114.330664 93.781331,129.36933 72.9226648,129.36933 L64.0973317,129.36933 L64.0973317,4.61733322 L80.7466646,4.61733322 L80.7466646,0 L27.9999993,0 Z" id="path32"></path>
							                        </g>
							                    </g>
							                </g>
							            </g>
							        </g>
							    </g>
							</svg>
						</a>
					</h1>
				</div>
				<div class="six columns">
					<form action="{{ url('search/results') }}" class="searchForm">
						<input type="search" name="q" placeholder="Search">
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="one columns">&nbsp;</div>
			</div>
			<div class="row nav">
				<div class="one columns">&nbsp;</div>
				<div class="ten columns">
					<nav>
						<ul>
						{% for block in navigation.navigation %}
						<li><a href="{{ block.navItem.first().url }}">{{ block.navItem.first() }}</a></li>
						{% endfor %}
						</ul>
					</nav>
				</div>
				<div class="one columns">&nbsp;</div>
			</div>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer" class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">
				<nav>
					<ul>
					<li>
						<a href="/rss" target="_blank" rel="noopener noreferrer">
							<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <defs></defs>
							    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							        <path d="M12.8,16 C12.8,8.978 7.022,3.2 0,3.2 L0,0 C8.777,0 16,7.223 16,16 L12.8,16 Z M2.194,11.61 C3.404,11.61 4.389,12.595 4.389,13.806 C4.389,15.016 3.399,16 2.189,16 C0.98,16 0,15.017 0,13.806 C0,12.596 0.983,11.611 2.194,11.611 L2.194,11.61 Z M10.606,16 L7.496,16 C7.496,11.887 4.113,8.503 0,8.503 L0,5.393 C5.818,5.393 10.606,10.183 10.606,16 Z" id="Shape" fill="#222222"></path>
							    </g>
							</svg>
						</a>
					</li>
					{% for block in navigation.navigation %}
					<li><a href="{{ block.navItem.first().url }}">{{ block.navItem.first() }}</a></li>
					{% endfor %}
					</ul>
				</nav>
				<p class="footNote">&copy;The Oakura Messenger 2002 - {{ now.year }} &nbsp;|&nbsp; Website - <a href="https://graphicactivity.co.nz" target="_blank" rel="noopener noreferrer">GA</a></p>
			</div>
			<div class="one columns">&nbsp;</div>

			<div id="organization" class="item" itemscope itemtype="https://schema.org/Organization">
			<link itemprop="url" href="{{ siteUrl }}">
			<a itemprop="sameAs" href="https://web.facebook.com/TOMOAKURA">FB</a>
			<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
				<img src="{{ siteUrl }}uploads/tom.png">
				<meta itemprop="url" content="{{ siteUrl }}uploads/tom.png">
				<meta itemprop="width" content="300">
				<meta itemprop="height" content="300">
			</span>
			<span itemprop="name">TOM</span>,
			<span itemprop="description">{{ seo.seoDescription }}</span>
			<span itemprop="email">info@thetom.co.nz</span>
			<span itemprop="telephone">0800 843 866</span>
			<span itemprop="location" itemscope itemtype="http://schema.org/Place">
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">22 Sutton Road</span>,
					<span itemprop="addressLocality">Omata</span>
					<span itemprop="postalCode">4374</span>
					<meta itemprop="addressRegion" content="Taranaki">
					<meta itemprop="addressCountry" content="New Zealand">
				</span>
			</span>
			</div>
		</footer>
	</div>
</body>
<script>
  AOS.init({
    startEvent: 'load',
    easing: 'ease-in-sine',
    delay: 50,
    disable: 'phone',
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42127413-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
